.card{
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0.5ch;
    border: 2px solid black;
    width: 210px;

    &__heading{
        margin: 2px 2ch;
        text-align: center;
    }
    &__image{
        width: 200px;
    }

}

.trait{
    width: 180px
}